<div class="wrap">
	<div class="keys">
		<ul>
			{{#keys}}
			<li><a href="/{{key}}">{{key}} <span>{{type}}</span></a></li>
			{{/keys}}
		</ul>
	</div>
	<div class="data-wrap">
		<div class="data"></div>
	</div>
</div>