<div class="wrap">
	<div class="keys">
		<ul>
			{{#keys}}
			<li><a href="/{{key}}?db={{db}}"><span>{{type}}</span> {{key}}</a></li>
			{{/keys}}
		</ul>
	</div>
	<div class="data-wrap">
		<div class="data"></div>
	</div>
</div>