<!DOCTYPE html>
<html>
<head>
	<title>
		{{title}}
	</title>
	<link rel="stylesheet" href="/assets/master.css" />
	<script src="/assets/application.js"></script>
</head>
<body>
	{{{yield}}}
</body>
</html>