<table>
	<thead>
		<tr>
			{{#has_key}}
			<th><span>Key</span></th>
			{{/has_key}}
			<th><span>Value</span></th>
		</tr>
	</thead>
	<tbody>
		{{#data}}
		<tr>
			{{#key}}
			<td>{{key}}</td>
			{{/key}}
			<td>{{value}}</td>
		</tr>
		{{/data}}
	</tbody>
</table>
