/*------------------------------------------------------------------------------
 Structure
------------------------------------------------------------------------------*/
body,
html {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: "Lucida Grande";
	font-size: 13px;
	width: 100%;
	height: 100%;
}
.wrap {
	-webkit-box-orient: horizontal;
	display: -webkit-box;
	-webkit-box-flex: 1;
	height: 100%;
}
.keys {
	width: 300px;
	display: -webkit-box;
	-webkit-box-flex: 0;
	-webkit-box-ordinal-group: 1;
	background: #dbe1e8;
	position: relative;
	ul {
		padding: 0;
		margin: 0;
		overflow-y: scroll;
		overflow-x: hidden;
		list-style: none;
		display: block;
		width: 100%;
	}
	li a {
		color: #000;
		text-decoration: none;
		display: block;
		padding: 2px 6px 2px 60px;
		white-space: nowrap; 
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		position: relative;
		&.selected {
		    background:-webkit-linear-gradient(#8ba0b3,#517088);
			border-color: #7c91a5 transparent #446179 transparent;
			color: #fff;
			span {
				color: #CCC;
			}
		}
		span {
			font-family: Consolas, Monaco, monospace;
			color: #333;
			width: 20px;
			position: absolute;
			left: 6px;
			top: 4px;
		}
	}
}
.ui-resizable-e {
	height: 100%;
	width: 5px;
	position: absolute;
	background-color: transparent;
	right: -3px;
	top: 0;
	cursor: col-resize;
}
.data-wrap {
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-ordinal-group: 2;	
	border-left: 1px solid #bbbbbb;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
.data {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
table {
	width: 100%;
	border-spacing:0;
	border-collapse:collapse;
	td {
		padding: 1px;
	}
	th {
		text-align: left;
		color: #333;
		padding: 2px 1px;
	}
	thead th {
	    background:-webkit-linear-gradient(#edeeee,#e1e2e2);
		border-bottom: 1px solid #bbbbbb;
		span {
			border-right: 1px solid #bbbbbb;
			display: block;
		}
	}
	tbody tr:nth-child(odd) td { 
		background-color:#f6f7f9; 
	}
	
}
